@import "tailwindcss";

@theme {
  /* COULEURS */
  --color-primary: #251B5E; /* Nouveau Bleu nuit */
  --color-indigo: #352397;  /* Bleu indigo (Surbrillance) */
  --color-cream: #FAF7F4;   /* Beige clair */
  --color-body: #4A4A4A;    /* Gris texte */
  --color-paper: #FFFBFA;   /* Beige fond */
  --color-white: #FFFFFF;   /* Blanc */
  
  /* On garde tes couleurs "Cuivre" pour les titres si besoin */
  --color-gold: #D4A373;    

  /* FONTS */
  --font-serif: var(--font-serif); 
  --font-sans: var(--font-sans);
  
  /* ALIGNEMENT */
  /* On crée une variable pour ce padding spécifique de 7.5rem (120px) */
  --spacing-section-px: 7.5rem; 
}

/* Styles globaux */
body {
  background-color: var(--color-paper);
  color: var(--color-body);
  /* Pour éviter le scroll horizontal si une animation dépasse */
  overflow-x: hidden; 
}
