@import "tailwindcss";

@theme {
  /* On définit nos couleurs ici */
  --color-primary: #11113A; /* Bleu nuit */
  --color-cream: #FAF7F4;   /* Beige clair */
  --color-accent: #4D4D85;  /* Violet titres */
  --color-body: #4A4A4A;    /* Gris texte */

  /* On lie les fonts configurées dans layout.tsx */
  --font-serif: var(--font-serif); 
  --font-sans: var(--font-sans);
}

/* Styles globaux */
body {
  background-color: var(--color-white);
  color: var(--color-body);
}

/* Petit fix pour l'alerte VS Code */
@source "../**";